# Load CSV Files Into MySQL Database

## Load Configuration

In [2]:
import csv
import json
import mysql.connector

# please modify config.json to your own config file
with open('config.json') as f:
    config = json.load(f)

host = config['host']
user = config['user']
passwd = config['passwd']
OOD_path = config['OOD_path']
test1_path = config['test1_path']
test2_path = config['test2_path']
test3_path = config['test3_path']

## Establish Connection

In [3]:
db_config = {
    'host': host,
    'user': user,
    'password': passwd
}

db_conn = mysql.connector.connect(**db_config)
cursor = db_conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS DBMSFinal")
cursor.execute("USE DBMSFinal")

## Create Database

## Create Tables

In [4]:
create_OOD_table_query = """
CREATE TABLE IF NOT EXISTS OOD (
	id INT PRIMARY KEY auto_increment,
	step INT,
    amount REAL,
    oldbalanceOrg REAL,
	newbalanceOrig REAL,
    oldbalanceDest REAL,
    newbalanceDest REAL,
    orig_diff INT,
    dest_diff INT,
    surge INT,
    freq_dest INT,
    true_type INT
)
"""
cursor.execute(create_OOD_table_query)

create_test1_table_query = """
CREATE TABLE IF NOT EXISTS test1 (
	id INT PRIMARY KEY auto_increment,
	step INT,
    amount REAL,
    oldbalanceOrg REAL,
	newbalanceOrig REAL,
    oldbalanceDest REAL,
    newbalanceDest REAL,
    orig_diff INT,
    dest_diff INT,
    surge INT,
    freq_dest INT,
    true_type INT
)
"""
cursor.execute(create_test1_table_query)

create_test2_table_query = """
CREATE TABLE IF NOT EXISTS test2 (
	id INT PRIMARY KEY auto_increment,
	step INT,
    amount REAL,
    oldbalanceOrg REAL,
	newbalanceOrig REAL,
    oldbalanceDest REAL,
    newbalanceDest REAL,
    orig_diff INT,
    dest_diff INT,
    surge INT,
    freq_dest INT,
    true_type INT
)
"""
cursor.execute(create_test2_table_query)

create_test3_table_query = """
CREATE TABLE IF NOT EXISTS test3 (
	id INT PRIMARY KEY auto_increment,
	step INT,
    amount REAL,
    oldbalanceOrg REAL,
	newbalanceOrig REAL,
    oldbalanceDest REAL,
    newbalanceDest REAL,
    orig_diff INT,
    dest_diff INT,
    surge INT,
    freq_dest INT,
    true_type INT
)
"""
cursor.execute(create_test3_table_query)

## Load CSV Files and Insert Into Tables

In [5]:
with open(OOD_path, 'r', encoding='utf-8') as csv_file:
    csv_reader = csv.reader(csv_file)
    next(csv_reader)  # Skip the header row
    for row in csv_reader:
        # Remove spaces from column 2 (index 1 since index starts at 0)
        row[1] = row[1].replace(" ", "")
        insert_query = """
        INSERT INTO OOD(step, amount, oldbalanceOrg, newbalanceOrig, oldbalanceDest, newbalanceDest, orig_diff, dest_diff, surge, freq_dest, true_type) 
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """
        cursor.execute(insert_query, row)

db_conn.commit()

with open(test1_path, 'r', encoding='utf-8') as csv_file:
    csv_reader = csv.reader(csv_file)
    next(csv_reader)  # Skip the header row
    for row in csv_reader:
        # Remove spaces from column 2 (index 1 since index starts at 0)
        row[1] = row[1].replace(" ", "")
        insert_query = """
        INSERT INTO test1(step, amount, oldbalanceOrg, newbalanceOrig, oldbalanceDest, newbalanceDest, orig_diff, dest_diff, surge, freq_dest, true_type) 
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """
        cursor.execute(insert_query, row)

db_conn.commit()

with open(test2_path, 'r', encoding='utf-8') as csv_file:
    csv_reader = csv.reader(csv_file)
    next(csv_reader)  # Skip the header row
    for row in csv_reader:
        # Remove spaces from column 2 (index 1 since index starts at 0)
        row[1] = row[1].replace(" ", "")
        insert_query = """
        INSERT INTO test2(step, amount, oldbalanceOrg, newbalanceOrig, oldbalanceDest, newbalanceDest, orig_diff, dest_diff, surge, freq_dest, true_type) 
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """
        cursor.execute(insert_query, row)

db_conn.commit()

with open(test3_path, 'r', encoding='utf-8') as csv_file:
    csv_reader = csv.reader(csv_file)
    next(csv_reader)  # Skip the header row
    for row in csv_reader:
        # Remove spaces from column 2 (index 1 since index starts at 0)
        row[1] = row[1].replace(" ", "")
        insert_query = """
        INSERT INTO test3(step, amount, oldbalanceOrg, newbalanceOrig, oldbalanceDest, newbalanceDest, orig_diff, dest_diff, surge, freq_dest, true_type) 
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """
        cursor.execute(insert_query, row)

db_conn.commit()

## Close Connection

In [6]:
db_conn.close()